.leaflet-control-geocoder {
	background-color: #fff;
	height: 24px;
	-webkit-border-radius: 4px;
	        border-radius: 4px;
	-webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
	        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
}

.leaflet-touch .leaflet-control-geocoder {
	box-shadow: none;
	border: 2px solid rgba(0,0,0,0.2);
	background-clip: padding-box;
    line-height: 30px;
}

.leaflet-control-geocoder-form {
	display: inline;
	visibility: hidden;
}

.leaflet-control-display-inline{
	visibility: visible;
}

.leaflet-geocoder-input{
	padding-left: 0 !important;
	padding-right: 2px !important;
}

.leaflet-control-geocoder-expanded .leaflet-geocoder-input{
	padding-left: 7px !important;
	padding-right: 2px !important;
}

.leaflet-control-geocoder-form input,
.leaflet-control-geocoder-form ul,
.leaflet-control-geocoder-error {
	border: 0;
	color: transparent;
	background: white;
}

.leaflet-control-geocoder-form input {
	font-size: 16px;
	width: 0;
	transition: width 0.125s ease-in;
}

.leaflet-touch .leaflet-control-geocoder-form input {
	font-size: 22px;
}

.leaflet-control-geocoder-icon {
	width: 24px;
	height: 24px;
	line-height: 24px;
	font-size: inherit;
	text-align: center;
	float: right;
	cursor: pointer;
	margin-left: -1px;
	margin-right: -1px;
}

.leaflet-control-geocoder-expanded .leaflet-control-geocoder-icon{
	height: 24px;
	line-height: 16px;
	font-size: inherit;
	color: #999;
	padding-left: 10px;
}

.leaflet-touch .leaflet-control-geocoder-icon {
	margin-top: 2px;
	width: 30px;
}

.leaflet-control-geocoder-throbber:before {
	content: '\f110';
	font-family: FontAwesome;
	float: right;
	-webkit-animation: spin 2s infinite linear;
	   -moz-animation: spin 2s infinite linear;
	     -o-animation: spin 2s infinite linear;
	        animation: spin 2s infinite linear;
}

.leaflet-control-geocoder-throbber .leaflet-control-geocoder-icon {
	color: #999;
}

.leaflet-control-geocoder-expanded{
	padding: 5px 10px 5px 5px;
	height: 24px;
}

.leaflet-control-geocoder-expanded input,
.leaflet-control-geocoder-error {
	width: 200px;
	margin-left: 4px;
	padding-left: 4px;
	padding-right: 0px;
	color: #000;
	height: 18px;
	line-height: 16px;
	font-size: inherit;
	border: none;
	-webkit-box-shadow: none;
	        box-shadow: none;
}

.leaflet-control-geocoder-form input:focus {
	outline: none;
	-webkit-box-shadow: none;
	        box-shadow: none;
}

.leaflet-control-geocoder-form button {
	display: none;
}

.leaflet-control-geocoder-form-no-error {
	display: none;
}

.leaflet-control-geocoder-error {
	margin-top: 8px;
	display: block;
	color: #444;
}

ul.leaflet-control-geocoder-alternatives {
	background-color: rgba(255, 255, 255, 0.7);
	width: 300px;
	overflow: hidden;
  	text-overflow: ellipsis;
  	white-space: nowrap;
  	list-style: none;
  	padding: 0;
  	-webkit-transition: height 0.125s ease-in;
  	   -moz-transition: height 0.125s ease-in;
  	    -ms-transition: height 0.125s ease-in;
  	     -o-transition: height 0.125s ease-in;
  	        transition: height 0.125s ease-in;
  	margin-left: 0;
  	-webkit-border-radius: 4px;
  	        border-radius: 4px;
  	-webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
  	        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
  	text-align: left;
}

.leaflet-control-geocoder-alternatives-minimized {
	width: 0 !important;
	height: 0;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

.leaflet-control-geocoder-alternatives li {
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	border-bottom: 1px solid #eee;
	padding: 0;
}


.leaflet-control-geocoder-alternatives li:last-child {
	border-bottom: none;
}

.leaflet-control-geocoder-alternatives a {
	display: block;
	text-decoration: none;
	color: black;
	padding: 4px 8px;
	font-size: 12px;
}

.leaflet-touch .leaflet-control-geocoder-alternatives a {
	font-size: 18px;
}

.leaflet-control-geocoder-alternatives a:hover,
.leaflet-control-geocoder-selected {
	background-color: #ddd;
}

.leaflet-control-geocoder-address-detail {
	font-size: 12px;
	font-weight: normal;
}

.leaflet-control-geocoder-address-context {
	color: #666;
	font-size: 12px;
	font-weight: lighter;
}
